.btn{
    background-color: #ff0;
    border: none;
    text-transform: uppercase;
    font-size: 2.1rem;
    padding: 15px 55px;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
    white-space: nowrap;
}
.change-category{
    padding: 15px 15px;
    text-transform: capitalize;
}
.letter{
    padding: 20px 30px;
    background-color: #07ffc9;
    font-size: 2.8rem;
}
.clicked-letter{ 
    padding: 20px 30px;
    background-color: red;
    font-size: 2.8rem;
}
.clicked{
    background-color: red;
}
.reset{
    background-color: #07ffc9;
    padding: 20px 10px;
    font-size: 3rem;
}