.words{
    display: grid;
    height: 200px;
    width: 500px;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center;
    margin-top: 5px;
}
.word {
    display: flex;
    text-align: center;
    align-items: center;
}
.word p {
    width: fit-content;
    margin: 0;
}
.header{
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 250px;
}
.header h2{
    font-size: 2.2rem;
    color: white;
    white-space: nowrap;
    font-weight: 500;
}
.header h3{
    font-size: 1.7rem;
    color: blue;
    white-space: nowrap;
}